#pagemenu {
    marging:20px;
}


.menucolumn {
    width: 30%;
    height: 70%;
    background:red;

    margin:20px;

    
}

.menubottom {
    width:100%;
    position:absolute;
    bottom:20px;
}
.floatleft {
     display: block;
 }

.btn {
    margin-top:50px;

}