<?xml version="1.0"?>
<xml><event><id>0</id><title>Title
</title><url>https://sync.infomaniak.com/calendars/MF01131/adaeda57-292c-460e-821d-d1588f592b99/748c7148-b37c-4661-a9af-2b2028784b51.ics</url><time>20150914T130000</time><data>BEGIN:VCALENDAR
PRODID:-//Mozilla.org/NONSGML Mozilla Calendar V1.1//EN
VERSION:2.0
BEGIN:VTIMEZONE
TZID:Europe/Paris
BEGIN:DAYLIGHT
TZOFFSETFROM:+0100
TZOFFSETTO:+0200
TZNAME:CEST
DTSTART:19700329T020000
RRULE:FREQ=YEARLY;BYDAY=-1SU;BYMONTH=3
END:DAYLIGHT
BEGIN:STANDARD
TZOFFSETFROM:+0200
TZOFFSETTO:+0100
TZNAME:CET
DTSTART:19701025T030000
RRULE:FREQ=YEARLY;BYDAY=-1SU;BYMONTH=10
END:STANDARD
END:VTIMEZONE
BEGIN:VEVENT
CREATED:20150914T095254Z
LAST-MODIFIED:20150914T134358Z
DTSTAMP:20150914T134358Z
UID:748c7148-b37c-4661-a9af-2b2028784b51
SUMMARY:Title
DTSTART;TZID=Europe/Paris:20150914T130000
DTEND;TZID=Europe/Paris:20150914T140000
TRANSP:OPAQUE
LOCATION:Location
DESCRIPTION:Description
CLASS:PUBLIC
SEQUENCE:2
X-MOZ-GENERATION:2
END:VEVENT
END:VCALENDAR
</data></event><event><id>1</id><title>Test
</title><url>https://sync.infomaniak.com/calendars/MF01131/adaeda57-292c-460e-821d-d1588f592b99/e1d8828d-0897-424f-9c5f-498c01a2edc2.ics</url><time>:20150914T15000</time><data>BEGIN:VCALENDAR
PRODID:-//Mozilla.org/NONSGML Mozilla Calendar V1.1//EN
VERSION:2.0
BEGIN:VTIMEZONE
TZID:Europe/Zurich
BEGIN:DAYLIGHT
TZOFFSETFROM:+0100
TZOFFSETTO:+0200
TZNAME:CEST
DTSTART:19700329T020000
RRULE:FREQ=YEARLY;BYDAY=-1SU;BYMONTH=3
END:DAYLIGHT
BEGIN:STANDARD
TZOFFSETFROM:+0200
TZOFFSETTO:+0100
TZNAME:CET
DTSTART:19701025T030000
RRULE:FREQ=YEARLY;BYDAY=-1SU;BYMONTH=10
END:STANDARD
END:VTIMEZONE
BEGIN:VEVENT
LAST-MODIFIED:20150914T134525Z
DTSTAMP:20150914T134525Z
UID:e1d8828d-0897-424f-9c5f-498c01a2edc2
SUMMARY:Test
DTSTART;TZID=Europe/Zurich:20150914T150000
DTEND;TZID=Europe/Zurich:20150914T160000
DESCRIPTION:sdfasfsaf
X-LIC-ERROR;X-LIC-ERRORTYPE=VALUE-PARSE-ERROR:No value for LOCATION proper
 ty. Removing entire property:
SEQUENCE:3
TRANSP:OPAQUE
LOCATION:loc
X-MOZ-GENERATION:2
END:VEVENT
END:VCALENDAR
</data></event><event><id>2</id><title>dfassssssssssss
</title><url>https://sync.infomaniak.com/calendars/MF01131/adaeda57-292c-460e-821d-d1588f592b99/bba42c2b-be77-4373-aee8-8f44a32fe65d.ics</url><time>:20150914T12000</time><data>BEGIN:VCALENDAR
PRODID:-//Mozilla.org/NONSGML Mozilla Calendar V1.1//EN
VERSION:2.0
BEGIN:VTIMEZONE
TZID:Europe/Zurich
BEGIN:DAYLIGHT
TZOFFSETFROM:+0100
TZOFFSETTO:+0200
TZNAME:CEST
DTSTART:19700329T020000
RRULE:FREQ=YEARLY;BYDAY=-1SU;BYMONTH=3
END:DAYLIGHT
BEGIN:STANDARD
TZOFFSETFROM:+0200
TZOFFSETTO:+0100
TZNAME:CET
DTSTART:19701025T030000
RRULE:FREQ=YEARLY;BYDAY=-1SU;BYMONTH=10
END:STANDARD
END:VTIMEZONE
BEGIN:VEVENT
LAST-MODIFIED:20150914T101721Z
DTSTAMP:20150914T101721Z
UID:bba42c2b-be77-4373-aee8-8f44a32fe65d
SUMMARY:dfassssssssssss
DTSTART;TZID=Europe/Zurich:20150914T120000
DTEND;TZID=Europe/Zurich:20150916T130000
DESCRIPTION:sdfasffsfdfas
X-LIC-ERROR;X-LIC-ERRORTYPE=VALUE-PARSE-ERROR:No value for LOCATION proper
 ty. Removing entire property:
SEQUENCE:3
TRANSP:OPAQUE
X-MOZ-GENERATION:3
END:VEVENT
END:VCALENDAR
</data></event></xml>
